:root.theme-light {
    --bg-color: #fff1f7;
    --title-decor-bg: #ff8dcb;
    --text-color: #353430;
    --accent-color: #000000;
    --title-color: #ffc2e6;
    --head-title-shadow: #ff8dcb;
    --rec-color: #ff0070;
    --page-image: url("../images/cover-image-light.png");
}
.theme-light .rec {
    display: none;
}
@media (prefers-color-scheme: light) {
    :root.theme-auto {
        --bg-color: #fff1f7;
        --title-decor-bg: #ff8dcb;
        --text-color: #353430;
        --accent-color: #353430;
        --title-color: #ffc2e6;
        --head-title-shadow: #ff8dcb;
        --rec-color: #ff0070;
        --page-image: url("../images/cover-image-light.png");
    }
}